.App {
  text-align: center;
}

ul>li{
  text-align: start;
}

.formc{
  justify-content: center;
  justify-items: center;
  display: flex;
}

form>input{
  margin:2%;
}

.cardc>img{
  height:150px;
  width:200px;
}
.cardc{
  height:270px;
}